@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
.table {
    margin-left: 210px;
    margin-top: 20px;
    background-color: rgb(1, 1, 77);
    font-family: 'Poppins', sans-serif;
}
tbody {
    background-color: black;

}
#leaderboard #cryptocurrencies tr {
    display: flex;
    clear: both;
    position: absolute;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -ms-transition-duration: 1s;
}
.table thead th {
    color: white;
    height: 100px;
}
.cryptocurrency {
    margin-top: 20px;
    background-color:aliceblue;
    border: 2px solid rgb(6, 6, 142);
}
.rank {
    width: 70px;
}
.images {
    width: 46px;
}
.tbody{
    width: 100%;
}
.image {
    align-items: center;
    justify-self: center;
    width: 50px;
    height: 50px;
    border-width: 100px;
    border-color: black;
}
.name {
    width: 160px;
}
.symbol {
    width: 100px;
}
.price {
    width: 100px;
}
.market_cap {
    width: 150px;
}
.circulating_supply {
    width: 170px;
}
.volume_24h {
    width: 140px;
}
.percentage_change_24h {
    width: 100px;
}